.swipeButtons{
  position:fixed;
  bottom:10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons__repeat{}


.swipeButtons__left{}


.swipeButtons__star{}

.swipeButtons__right{}

.swipeButtons__lightning{}